* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(249 249 249);
    color: #333;
    padding: 1rem 0;
    text-align: center;
}

.main-nav {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    position:fixed;
}

.main-nav ul li {
        display: inline;
    margin: 0 10px;
}
.main-nav ul li .search-container {
    margin-top: -9px;
}
.main-nav ul li a {
     color: #333;
    text-decoration: none;
}
.mobile-menu-toggle {
    display: none; 
    cursor: pointer;
}

.mobile-menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.sub-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3rem 0;


}

.secondary-nav  img {
    height: 40px;
}
.main-nav a {
    display: inline-block;
    width: auto;
    margin: 0 !important;
    padding: 5px 15px 5px 15px !important;
    font-size: 15px !important;
    text-decoration: none;
    line-height: 1.5;
}
.main-nav  li a.active,
.main-nav ul li a:hover {
color: #0056b3;
  font-weight: bold; 
  background-color: #fff !important;;
 
}
#searchInput {
    padding: 10px;
    border-radius: 5px;
    background: #f7f1f0;
     }

 .search-container {
        position: relative;
        display: inline-block;
    }
    
    #searchInput {
        width: 300px; 
        padding: 10px 40px 10px 10px; 
        font-size: 16px;
        border: 2px solid rgb(38 39 97);
        border-radius: 4px;
    }
    
    .search-button {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(38 39 97);
        border: 2px solid rgb(38 39 97);
        cursor: pointer;
        padding: 0;
        border-radius: 4px;
    }
    
    .search-button img {
        width: 35px;
        height: 35px;
    }
    


    footer {
        background-color: rgb(89 100 210);
        padding: 20px 0;
        color: #fff;
    }
    .footer-top-text {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer-top-text p {
        font-size: 16px;
        margin: 0;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .footer-section {
        flex: 1;
        min-width: 220px;
        margin: 10px;
    }
    
    .footer-section h4 {
        margin-bottom: 15px;
        font-size: 16px;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 10px;
    }
    
    .footer-section ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    .footer-section ul li a:hover {
        text-decoration: underline;
    }
    
    .get-in-touch p {
        margin-bottom: 10px;
   
    }
    
    .social-icons a {
        display: inline-block;
        margin-right: 10px;
    }
    
    .social-icons img {
        width: 24px;
        height: 24px;
    }
    
    .newsletter form {
        display: flex;
        align-items: center;
    }
    
    .newsletter input[type="email"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        flex: 1;
    }
    
    .newsletter button {
        padding: 10px 20px;
        border: none;
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .newsletter button:hover {
        background-color: #555;
    }
    
 
main {
    padding: 20px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin: 0 19%;
}

.promo-banner {
    flex: 2;
}

.promo-banner img {
    width: 100%;
    height: 100%;
    display: block;
}

.side-adverts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.side-adverts .ad {
    position: relative;
}

.side-adverts .ad img {
    width: 100%;
    height: auto;
    display: block;
}

.side-adverts .ad a {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: #fff;
    color: #ff0000;
   text-decoration: none;
    font-weight: bold;
    font-size:10px;
}
#top-section {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

#top-section h2 {
    font-size: 24px;
}

#top-section p {
    font-size: 16px;
}


#five-images-section {
    padding: 20px;
    margin: 0 19%;
}

#five-images-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
#three-images-section {
    padding: 20px;
    margin: 0 19%;
}

#three-images-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.image-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-item img {
    width: 100%;
    height: auto;
}

.image-item p {
    text-align: center;
    color: rgb(93, 93, 93);
    margin-bottom: 10px;
}
.image-item h5 {
    text-align: center;
    color: rgb(93, 93, 93);
    margin-bottom: 10px;
}
.image-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-grid3 .image-item p {
    font-size: 10px;
    font-weight: 900;
}
#three-images-section h1 {
    text-align: center;
    margin-bottom: 10px;
}
.button-item {
    margin-left:40%;
    background-color: rgb(89 100 210);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-item button {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    text-align: center;
}
.image-shop button {
    background-color: rgb(89 100 210);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0 19%;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap:10px;
}
.carousel-item {
    flex: 0 0 20%; /* 5 produkte te shfaqen(100% / 5 = 20%) */
    max-width: 19%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}
.carousel-item img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.carousel-item h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}
.carousel-item p {
    margin: 5px 0;
    color: #333;
}
.carousel-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
}
 
.carousel-nav button {
    background: none;
    border: none;
    font-size: 30px;
    pointer-events: all;
    cursor: pointer;
    color: #333;
} 

.carousel-section {
    padding: 20px;
    background-color: rgb(249 249 249);
    text-align: center;
}
.carousel-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 60%;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap:10px;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 20px auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.carousel-nav button i {
    font-size: 20px; 
}
.carousel-nav button:hover {
    background-color: #ddd;
}

.carousel-indicators {
    text-align: center;
    margin-top: 20px;
}
.carousel-indicators button {
    background: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-indicators button.active {
    background: #333;
}

.secondary-nav {
    overflow: hidden;
    background-color:#fff; 
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
  }

  .secondary-nav a {
    float: center;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnava {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .secondary-nav a:hover, .subnav:hover .subnava {
    background-color: rgb(249 249 249);
  }
  
  .dropdown {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(249 249 249);
    width: 100%;
    z-index: 1;
  }
  
  .dropdown a {
    float: left;
    color: black;
    text-decoration: none;
  }
  
  .dropdown a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .dropdown {
    display: flex;
    list-style: none;
  }


/*RESPONSIVE*/

@media only screen and (max-width: 1024px) {
    header {
        display:flex;
        justify-content: center;

    }
      .image-container {
        flex-direction: column;
        gap: 0;
        padding: 10px;
        margin: 0;
    }

    .side-adverts {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    /* .image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        margin: 0 19%;
    } */
    
   
.promo-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.side-adverts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.side-adverts .ad {
    position: relative;
}

.side-adverts .ad img {
    width: 100%;
    height: auto;
    display: block;
}

.side-adverts .ad a {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: #fff;
    color: #ff0000;
   text-decoration: none;
    font-weight: bold;
    font-size:10px;
}
    .carousel-track {
        flex-wrap: wrap;
    }

    .carousel-item {
        flex: 0 0 50%;
        max-width: 48%;
    }
}


@media only screen and (max-width: 480px) {
    
    .main-nav {
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        padding: 3rem 0;
    }

    .main-nav.active {
        display: block;
    }

    .main-nav .menu {
        display: block;
    }

    .main-nav .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .main-nav .menu li a {
        padding: 10px 20px;
    }


    .carousel-item {
        padding: 5px;
    }

    .carousel-item h3 {
        font-size: 14px;
    }
   

    .mobile-menu-toggle {
        display: inline-grid;
    }
.sub-header {
    display: inline;
}
}


@media (max-width: 768px) {
    .main-nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .main-nav.active {
        display: block;
    }

    .main-nav .menu {
        display: block;
    }

    .main-nav .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .main-nav .menu li a {
        padding: 10px 20px;
    }

    .sub-header .sub-menu {
        display: none;
    }

    .sub-header .sub-menu.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f4f4f4;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .sub-header .sub-menu.active li {
        display: block;
        margin-bottom: 10px;
    }

    .sub-header .sub-menu.active li a {
        padding: 10px 20px;
    }
}
